* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1.5rem;
}
.app {
  background-image: url(./images/img2.jpg);
  background-size: 100%;
  max-width: 100%;
  min-height: 100vh;
}

h2 {
  padding: 1rem;
}
main {
  /* max-width: 100%; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 22%;
  height: 25%;
  margin: 2rem;
}
.first {
  background: blue;
}
.second {
  background: red;
}
.third {
  background: pink;
}
.area {
  font-size: 1.5rem;
  margin: 0 auto;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1062px) {
  main {
    display: block;
  }
  .card {
    margin: 2rem auto;
    font-size: 1.5rem;
    width: 80%;
    height: 30%;
  }
}
